.leftSidebar{
    max-width: 350px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #565656;
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        width: 100%;
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    h3{
        font-size: 30px;
        color: #fff;
        text-align: center;
        font-weight: 300;
    }
    p{
        color: gray;
        font-size: 15px;
        font-weight: 300;
        margin: 10px 0px;
    }
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        list-style: none;
    }
    .icon{
        color: #fafafa;
        width: 25px;
        height: 25px;
        border: 2px solid #565656;
        border-radius: 50%;
        padding: 10px;
        margin: 0px 5px;
        cursor: pointer;
    }
    li :hover{
        color: #28e98c;
        border-color: #28e98c;
    }
    a{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a > img{
        width: 25px;
        height: 25px;
        margin: 0;
    }
}
.mainButton{
    width: 100%;
    background: #28e98c;
    color: #000000;
    display: block;
    text-align: center;
    padding: 12px 58px 12px 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    
    border: none;
    cursor: pointer;
    border: 2px solid #28e98c;
    font-weight: 800;
    font-size: 20px;
}
.mainButton:active{
    background-color: transparent;
    color: #28e98c;
}

@media (max-width: 2000px) {
    .leftSidebar{
        width: 300px;
    }
}
@media (max-width: 1800px) {
    .leftSidebar{
        max-width: 250px;
       
    }

    .mainButton{
        width: 100%;
        background: #28e98c;
        color: #000000;
        display: block;
        text-align: center;
        padding: 12px 45px 12px 45px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        border: 2px solid #28e98c;
        font-weight: 800;
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .leftSidebar{
        position: relative;
        max-width: 750px;
        width: 100%;
        left: 0;
        margin: auto;
        top: 0;
        transform: translateY(0);
        margin-top: 20px;
        img{
            width: 50%;
            border-radius: 30px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }
    }
}